@import url(https://fonts.googleapis.com/css?family=Rubik:regular,700&display=swap);

@import url(https://fonts.googleapis.com/css?family=Raleway:700,800&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #616161;
  line-height: 1;
  font-family: "Rubik";
  font-size: 0.75rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Rubik";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 67.5rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.button {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #fcfdfe;
  text-transform: uppercase;
  padding: 0.875rem 2.3125rem;
  background-color: #ec5863;
  border-radius: 0.3125rem;
  -webkit-transition: background-color 0.5s ease 0s;
  -o-transition: background-color 0.5s ease 0s;
  transition: background-color 0.5s ease 0s;
}

.button_blue {
  background-color: #4285f4;
  padding: 0.875rem 1.875rem;
}

.title {
  font-weight: 700;
  line-height: 1.26;
  color: #000000;
}

.title span {
  color: #ec5863;
}

.title_blue span {
  color: #4285f4;
}

.text {
  line-height: 1.4166666667;
  letter-spacing: 0.08em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(250, 251, 253, 0.85);
  z-index: 50;
}

.header__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 1fr auto;
  grid-template-columns: auto 1fr auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  height: 100%;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.header__menu {
  -ms-grid-column-align: center;
      justify-self: center;
}

.header__button {
  position: relative;
  z-index: 5;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
}

.menu__link {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 0.625rem;
  line-height: 1.2;
  letter-spacing: 0.14em;
  color: #000000;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.icon-menu {
  display: none;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 0.625rem;
}

.footer__link img {
  max-width: 100%;
}

.main-page {
  position: relative;
  background-color: #fafbfd;
}

.main-page__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 3.75rem;
  position: relative;
  z-index: 2;
}

.header-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
}

.header-main__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 47%;
          flex: 0 1 47%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-main__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.header-main__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.header-main__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 53%;
          flex: 0 1 53%;
}

.header-main__image img {
  max-width: 100%;
}

.footer-main__media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.3125rem;
  position: relative;
  padding-left: 3.5rem;
  min-height: 2.75rem;
}

.footer-main__media::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.75rem;
  height: 2.75rem;
  background: url("../img/main/icon/play.svg") 50% 50%/0.8125rem no-repeat;
  border: 0.0625rem solid #4285f4;
  border-radius: 50%;
}

.footer-main__media::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2.75rem;
  height: 2.75rem;
  background-color: rgba(66, 134, 244, 0.1);
  border-radius: 50%;
  animation: scale-up-center 1.3s ease-in-out infinite alternate-reverse forwards;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

.footer-main__label {
  font-size: 0.8125rem;
  line-height: 1.26;
  letter-spacing: 0.08em;
  color: #b0b0b0;
}

.footer-main__link {
  font-size: 0.5625rem;
  line-height: 1.26;
  letter-spacing: 0.165em;
  text-transform: uppercase;
  color: #000000;
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
  position: relative;
}

.block-safe {
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: relative;
}

.block-safe__image {
  -webkit-box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
          box-shadow: 2px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 1rem;
  position: relative;
  z-index: 3;
}

.block-safe__image img {
  max-width: 100%;
  border-radius: 1rem;
  position: relative;
  z-index: 2;
}

.block-safe__image::before {
  content: "";
  position: absolute;
  display: block;
  background-color: rgba(240, 240, 240, 0.49);
  border-radius: 1rem;
  width: 89.956332%;
  height: 5.882353%;
  bottom: -2.614379%;
  left: 5.240175%;
  z-index: 3;
}

.block-safe__image::after {
  content: "";
  width: 64.19214%;
  height: 32.026144%;
  display: block;
  background: #ec5863;
  -webkit-box-shadow: 0px 4px 36px rgba(236, 88, 99, 0.12);
          box-shadow: 0px 4px 36px rgba(236, 88, 99, 0.12);
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate(-48.29932%, -38.095238%);
      -ms-transform: translate(-48.29932%, -38.095238%);
          transform: translate(-48.29932%, -38.095238%);
}

.block-safe__decor {
  position: relative;
}

.block-safe__decor::before,
.block-safe__decor::after {
  content: "";
  display: block;
  position: absolute;
  width: 33.624454%;
  height: 16.775599%;
  background: #ec5863;
  border-radius: 1.875rem;
}

.block-safe__decor::before {
  -webkit-transform: translate(-50.649351%, 35.064935%);
      -ms-transform: translate(-50.649351%, 35.064935%);
          transform: translate(-50.649351%, 35.064935%);
  bottom: 0;
  left: 0;
}

.block-safe__decor::after {
  right: 0;
  bottom: 0;
  -webkit-transform: translate(49.350649%, -103.896104%);
      -ms-transform: translate(49.350649%, -103.896104%);
          transform: translate(49.350649%, -103.896104%);
}

.block-safe__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  z-index: 3;
}

.block-safe__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.block-safe__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.talk-experts {
  background-color: #fafbfd;
}

.talk-experts__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr;
  grid-template-rows: auto 1fr;
  row-gap: 4.9375rem;
  place-items: center;
  place-content: center;
}

.statistic-block {
  width: 68.125%;
  position: relative;
}

.statistic-block::after {
  content: "";
  content: "";
  position: absolute;
  top: 0;
  right: -8.036697%;
  /* 52.56/654 */
  background: #ec5863;
  width: 7.966875rem;
  height: 7.966875rem;
  border-radius: 1.875rem;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.statistic-block__decor::before,
.statistic-block__decor::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #ec5863;
}

.statistic-block__decor::before {
  width: 4.109375rem;
  height: 4.109375rem;
  top: 60.683761%;
  /* 71/117 */
  left: -2.905199%;
  /* 19/654 */
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
  border-radius: 1rem;
}

.statistic-block__decor::after {
  width: 6.06rem;
  height: 6.06rem;
  top: -34.222222%;
  /* 40.04/117 */
  left: 33.639144%;
  /* 220/654 */
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
  border-radius: 1.875rem;
}

.statistic-block__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 1.25rem;
  padding: 1.75rem 0.625rem;
  background: #ffffff;
  -webkit-box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
          box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
  border-radius: 1rem;
  position: relative;
  z-index: 2;
}

.statistic-block__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 0.3125rem;
}

.statistic-block__value {
  font-weight: 700;
  font-size: 2.25rem;
  line-height: 1.1944444444;
  letter-spacing: 0.14em;
  color: #ec5863;
}

.statistic-block__name {
  font-weight: 700;
  font-size: 0.6875rem;
  line-height: 1.1818181818;
  letter-spacing: 0.37em;
  text-transform: uppercase;
  color: #000000;
}

.content-experts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content-experts__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.content-experts__title:not(:last-child) {
  margin-bottom: 0.75rem;
}

.content-experts__text:not(:last-child) {
  margin-bottom: 1.5rem;
}

.media-content {
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  border-radius: 0.5rem;
  padding: 0.625rem;
}

.media-content__link {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.media-content__link::before,
.media-content__link::after {
  content: "";
  position: absolute;
  top: 45%;
  left: 45%;
  width: 2.5625rem;
  height: 2.5625rem;
  -webkit-transition: all 0.8s ease 0s;
  -o-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
}

.media-content__link::before {
  border-radius: 50%;
  background-color: #587eec;
}

.media-content__link::after {
  background: url("../img/experts/icon/play.svg") 50% 50%/14px no-repeat;
}

.media-content__link img {
  max-width: 100%;
}

.healthcare__items {
  display: -ms-grid;
  display: grid;
  grid-template: 1fr/repeat(auto-fill, minmax(14.6875rem, 1fr));
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  row-gap: 3.125rem;
}

.header-healthcare {
  padding-bottom: 2.875rem;
}

.header-healthcare__title {
  text-align: center;
}

.header-healthcare__title:not(:last-child) {
  margin-bottom: 0.875rem;
}

.header-healthcare__text {
  max-width: 38.125rem;
  margin: 0 auto;
}

.header-healthcare__text p {
  text-align: center;
}

.item-healthcare {
  padding: 2.290625rem 1.11375rem;
  -webkit-box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
          box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
  background-color: #fff;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  position: relative;
}

.item-healthcare:nth-child(1)::before,
.item-healthcare:nth-child(1)::after {
  content: "";
  background: #ec5863;
  position: absolute;
  z-index: -1;
}

.item-healthcare:nth-child(1)::before {
  width: 4.109375rem;
  height: 4.109375rem;
  left: -6.557141%;
  /* 18.24/278.17 */
  bottom: -12.237813%;
  /* 33.84/276.52 */
  border-radius: 1rem;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.item-healthcare:nth-child(1)::after {
  content: "";
  width: 6.06rem;
  height: 6.06rem;
  top: 15.264719%;
  /* 42.21/276.52 */
  right: -18.247834%;
  /* -50.76/278.17 */
  border-radius: 1.875rem;
  -webkit-transform: rotate(105deg);
      -ms-transform: rotate(105deg);
          transform: rotate(105deg);
}

.item-healthcare:nth-child(2)::after,
.item-healthcare:nth-child(3)::after {
  content: "";
  background: #ec5863;
  position: absolute;
  z-index: -1;
}

.item-healthcare:nth-child(2)::after {
  width: 7.966875rem;
  height: 7.966875rem;
  bottom: -8.512947%;
  /* -23.54/276.52 */
  right: -28.381925%;
  /* -78.95/278.17 */
  border-radius: 1.875rem;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.item-healthcare:nth-child(3)::after {
  width: 4.109375rem;
  height: 4.109375rem;
  top: -12.346304%;
  /* -34.14/276.52 */
  right: -6.995722%;
  /* -19.46/278.17 */
  border-radius: 1rem;
  -webkit-transform: rotate(-30deg);
      -ms-transform: rotate(-30deg);
          transform: rotate(-30deg);
}

.item-healthcare__image:not(:last-child) {
  margin-bottom: 3.625rem;
}

.item-healthcare__image img {
  max-width: 100%;
}

.item-healthcare__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.25rem;
  min-width: 100%;
  text-align: center;
}

.item-healthcare__title {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.375;
  letter-spacing: 0.08em;
  color: #000000;
  min-height: 100%;
}

.item-healthcare__link {
  -webkit-transition: color 0.5s ease 0s;
  -o-transition: color 0.5s ease 0s;
  transition: color 0.5s ease 0s;
}

.item-healthcare__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.item-healthcare__text p:not(:last-child) {
  margin-bottom: 0.25rem;
}

@media (min-width: 47.9375em) {
  .header {
    height: 7.125rem;
  }

  .footer__container {
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }

  .main-page {
    padding-top: 8.75rem;
  }

  .main-page {
    padding-bottom: 3rem;
  }

  .main-page__container {
    row-gap: 3.75rem;
  }
}

@media (min-width: 47.99875em) {
  .main-page::after {
    content: "";
    display: block;
    width: 25.607639%;
    height: 100%;
    background: #ec5863;
    border-radius: 1.875rem 0rem 0rem 1.875rem;
    position: absolute;
    top: 0;
    right: 0;
  }

  .header-main__text {
    max-width: 23.4375rem;
  }

  .block-safe {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
  }

  .block-safe__text {
    max-width: 22.8125rem;
  }

  .content-experts__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 42%;
            flex: 0 1 42%;
  }

  .content-experts__text {
    max-width: 22.8125rem;
  }

  .content-experts__media {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 58%;
            flex: 0 1 58%;
  }

  .media-content {
    padding: 1.53125rem 5.84375rem;
  }
}

@media (min-width: 47.99875em) and (min-width: 67.5em) {
  .block-safe {
    -webkit-column-gap: 9.3125rem;
       -moz-column-gap: 9.3125rem;
            column-gap: 9.3125rem;
  }
}

@media (min-width: 65.625em) {
  .menu__list {
    -webkit-column-gap: 2.5rem;
       -moz-column-gap: 2.5rem;
            column-gap: 2.5rem;
  }

  .stay-safe-page {
    padding-top: 8.4375rem;
  }

  .stay-safe-page {
    padding-bottom: 6.625rem;
  }

  .talk-experts {
    padding-top: 6.4375rem;
  }

  .talk-experts {
    padding-bottom: 7.25rem;
  }
}

@media (min-width: 67.5em) {
  .title {
    font-size: 2.75rem;
  }

  .footer {
    padding-bottom: 3.125rem;
  }

  .content-experts {
    -webkit-column-gap: 4.625rem;
       -moz-column-gap: 4.625rem;
            column-gap: 4.625rem;
  }

  .healthcare {
    padding-top: 5rem;
  }

  .healthcare {
    padding-bottom: 5rem;
  }

  .healthcare__items {
    -webkit-column-gap: 4.5rem;
       -moz-column-gap: 4.5rem;
            column-gap: 4.5rem;
  }
}

@media (min-width: 62em) {
  .item-healthcare__image:not(:last-child) {
    margin-bottom: 3.625rem;
  }
}

@media (max-width: 20em) {
  .title {
    font-size: 2rem;
  }

  .header {
    height: 5.3125rem;
  }

  .footer {
    padding-bottom: 1.25rem;
  }

  .footer__container {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }

  .main-page {
    padding-top: 5.9375rem;
  }

  .main-page {
    padding-bottom: 1.5625rem;
  }

  .main-page__container {
    row-gap: 2.5rem;
  }

  .stay-safe-page {
    padding-top: 2.5rem;
  }

  .stay-safe-page {
    padding-bottom: 2.5rem;
  }

  .talk-experts {
    padding-top: 2.5rem;
  }

  .talk-experts {
    padding-bottom: 2.5rem;
  }

  .healthcare {
    padding-top: 2.5rem;
  }

  .healthcare {
    padding-bottom: 2.5rem;
  }

  .item-healthcare__image:not(:last-child) {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 47.99875em) {
  .header-main {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 2.5rem;
  }

  .header-main__button {
    -ms-flex-item-align: stretch;
        -ms-grid-row-align: stretch;
        align-self: stretch;
    text-align: center;
  }

  .block-safe {
    row-gap: 6.25rem;
  }

  .block-safe__image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .block-safe__content {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .block-safe__button {
    text-align: center;
  }

  .statistic-block::after {
    right: -15%;
    top: 20%;
  }

  .statistic-block {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .statistic-block__decor::before {
    left: -6%;
    top: 70%;
  }

  .statistic-block__decor::after {
    top: -12%;
  }

  .statistic-block__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .content-experts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    row-gap: 1.5625rem;
  }

  .content-experts__info {
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }

  .content-experts__button {
    text-align: center;
  }

  .media-content {
    text-align: center;
  }
}

@media (max-width: 47.9375em) {
  .content-experts {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .healthcare__items {
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }
}

@media (max-width: 43.74875em) {
  .header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -100%;
    background: #fafbfd;
    width: 100%;
    height: 100%;
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
  }

  .menu-open .header::after {
    right: 0;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    background-color: #fafbfd;
    padding: 7.5rem 0.9375rem 1.875rem 0.9375rem;
    -webkit-transition: right 0.5s ease 0s;
    -o-transition: right 0.5s ease 0s;
    transition: right 0.5s ease 0s;
    overflow: auto;
  }

  .menu-open .menu__body {
    right: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    row-gap: 1.5625rem;
  }

  .menu__link {
    font-size: 1.5rem;
  }
}

@media (max-width: 43.74875rem) {
  .header__action {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0.9375rem;
       -moz-column-gap: 0.9375rem;
            column-gap: 0.9375rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
}

@media (max-width: 43.75em) {
  .menu__list {
    -webkit-column-gap: 1.875rem;
       -moz-column-gap: 1.875rem;
            column-gap: 1.875rem;
  }
}

@media (max-width: 43.74875rem) and (any-hover: none) {
  .icon-menu {
    cursor: default;
  }
}

@media (max-width: 32.125em) {
  .item-healthcare:nth-child(3)::after {
    left: -6.995722%;
  }
}

@media (max-width: 26.56125em) {
  .header__logo {
    max-width: 4.25rem;
    overflow: hidden;
  }
}

@media (min-width: 20em) and (max-width: 67.5em) {
@supports (font-size: clamp( 2rem , 1.6842105263rem  +  1.5789473684vw , 2.75rem )) {
    .title {
      font-size: clamp( 2rem , 1.6842105263rem  +  1.5789473684vw , 2.75rem );
    }
}

@supports not (font-size: clamp( 2rem , 1.6842105263rem  +  1.5789473684vw , 2.75rem )) {
    .title {
      font-size: calc(2rem + 0.75 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .footer {
      padding-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.4605263158rem  +  3.9473684211vw , 3.125rem )) {
    .footer {
      padding-bottom: calc(1.25rem + 1.875 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-top: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
    .healthcare {
      padding-top: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
    .healthcare {
      padding-top: calc(2.5rem + 2.5 * (100vw - 20rem) / 47.5);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
    .healthcare {
      padding-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 1.4473684211rem  +  5.2631578947vw , 5rem )) {
    .healthcare {
      padding-bottom: calc(2.5rem + 2.5 * (100vw - 20rem) / 47.5);
    }
}
}

@media (min-width: 20em) and (max-width: 47.9375em) {
@supports (height: clamp( 5.3125rem , 4.0149608501rem  +  6.4876957494vw , 7.125rem )) {
    .header {
      height: clamp( 5.3125rem , 4.0149608501rem  +  6.4876957494vw , 7.125rem );
    }
}

@supports not (height: clamp( 5.3125rem , 4.0149608501rem  +  6.4876957494vw , 7.125rem )) {
    .header {
      height: calc(5.3125rem + 1.8125 * (100vw - 20rem) / 27.9375);
    }
}

@supports ((-moz-column-gap: clamp( 1.25rem , -0.5397091723rem  +  8.9485458613vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -0.5397091723rem  +  8.9485458613vw , 3.75rem ))) {
    .footer__container {
      -webkit-column-gap: clamp( 1.25rem , -0.5397091723rem  +  8.9485458613vw , 3.75rem );
         -moz-column-gap: clamp( 1.25rem , -0.5397091723rem  +  8.9485458613vw , 3.75rem );
              column-gap: clamp( 1.25rem , -0.5397091723rem  +  8.9485458613vw , 3.75rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -0.5397091723rem  +  8.9485458613vw , 3.75rem )) or (column-gap: clamp( 1.25rem , -0.5397091723rem  +  8.9485458613vw , 3.75rem ))) {
    .footer__container {
      -webkit-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 27.9375);
         -moz-column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 27.9375);
              column-gap: calc(1.25rem + 2.5 * (100vw - 20rem) / 27.9375);
    }
}

@supports (padding-top: clamp( 5.9375rem , 3.9240771812rem  +  10.067114094vw , 8.75rem )) {
    .main-page {
      padding-top: clamp( 5.9375rem , 3.9240771812rem  +  10.067114094vw , 8.75rem );
    }
}

@supports not (padding-top: clamp( 5.9375rem , 3.9240771812rem  +  10.067114094vw , 8.75rem )) {
    .main-page {
      padding-top: calc(5.9375rem + 2.8125 * (100vw - 20rem) / 27.9375);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 0.533417226rem  +  5.1454138702vw , 3rem )) {
    .main-page {
      padding-bottom: clamp( 1.5625rem , 0.533417226rem  +  5.1454138702vw , 3rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 0.533417226rem  +  5.1454138702vw , 3rem )) {
    .main-page {
      padding-bottom: calc(1.5625rem + 1.4375 * (100vw - 20rem) / 27.9375);
    }
}

@supports (row-gap: clamp( 2.5rem , 1.6051454139rem  +  4.4742729306vw , 3.75rem )) {
    .main-page__container {
      row-gap: clamp( 2.5rem , 1.6051454139rem  +  4.4742729306vw , 3.75rem );
    }
}

@supports not (row-gap: clamp( 2.5rem , 1.6051454139rem  +  4.4742729306vw , 3.75rem )) {
    .main-page__container {
      row-gap: calc(2.5rem + 1.25 * (100vw - 20rem) / 27.9375);
    }
}
}

@media (min-width: 43.75em) and (max-width: 65.625em) {
@supports ((-moz-column-gap: clamp( 1.875rem , 0.625rem  +  2.8571428571vw , 2.5rem )) or (column-gap: clamp( 1.875rem , 0.625rem  +  2.8571428571vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: clamp( 1.875rem , 0.625rem  +  2.8571428571vw , 2.5rem );
         -moz-column-gap: clamp( 1.875rem , 0.625rem  +  2.8571428571vw , 2.5rem );
              column-gap: clamp( 1.875rem , 0.625rem  +  2.8571428571vw , 2.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.875rem , 0.625rem  +  2.8571428571vw , 2.5rem )) or (column-gap: clamp( 1.875rem , 0.625rem  +  2.8571428571vw , 2.5rem ))) {
    .menu__list {
      -webkit-column-gap: calc(1.875rem + 0.625 * (100vw - 43.75rem) / 21.875);
         -moz-column-gap: calc(1.875rem + 0.625 * (100vw - 43.75rem) / 21.875);
              column-gap: calc(1.875rem + 0.625 * (100vw - 43.75rem) / 21.875);
    }
}
}

@media (min-width: 20em) and (max-width: 65.625em) {
@supports (padding-top: clamp( 2.5rem , -0.102739726rem  +  13.0136986301vw , 8.4375rem )) {
    .stay-safe-page {
      padding-top: clamp( 2.5rem , -0.102739726rem  +  13.0136986301vw , 8.4375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , -0.102739726rem  +  13.0136986301vw , 8.4375rem )) {
    .stay-safe-page {
      padding-top: calc(2.5rem + 5.9375 * (100vw - 20rem) / 45.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.6917808219rem  +  9.0410958904vw , 6.625rem )) {
    .stay-safe-page {
      padding-bottom: clamp( 2.5rem , 0.6917808219rem  +  9.0410958904vw , 6.625rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.6917808219rem  +  9.0410958904vw , 6.625rem )) {
    .stay-safe-page {
      padding-bottom: calc(2.5rem + 4.125 * (100vw - 20rem) / 45.625);
    }
}

@supports (padding-top: clamp( 2.5rem , 0.7739726027rem  +  8.6301369863vw , 6.4375rem )) {
    .talk-experts {
      padding-top: clamp( 2.5rem , 0.7739726027rem  +  8.6301369863vw , 6.4375rem );
    }
}

@supports not (padding-top: clamp( 2.5rem , 0.7739726027rem  +  8.6301369863vw , 6.4375rem )) {
    .talk-experts {
      padding-top: calc(2.5rem + 3.9375 * (100vw - 20rem) / 45.625);
    }
}

@supports (padding-bottom: clamp( 2.5rem , 0.4178082192rem  +  10.4109589041vw , 7.25rem )) {
    .talk-experts {
      padding-bottom: clamp( 2.5rem , 0.4178082192rem  +  10.4109589041vw , 7.25rem );
    }
}

@supports not (padding-bottom: clamp( 2.5rem , 0.4178082192rem  +  10.4109589041vw , 7.25rem )) {
    .talk-experts {
      padding-bottom: calc(2.5rem + 4.75 * (100vw - 20rem) / 45.625);
    }
}
}

@media (min-width: 47.99875em) and (min-width: 20em) and (max-width: 67.5em) {
@supports ((-moz-column-gap: clamp( 1.25rem , -2.1447368421rem  +  16.9736842105vw , 9.3125rem )) or (column-gap: clamp( 1.25rem , -2.1447368421rem  +  16.9736842105vw , 9.3125rem ))) {
    .block-safe {
      -webkit-column-gap: clamp( 1.25rem , -2.1447368421rem  +  16.9736842105vw , 9.3125rem );
         -moz-column-gap: clamp( 1.25rem , -2.1447368421rem  +  16.9736842105vw , 9.3125rem );
              column-gap: clamp( 1.25rem , -2.1447368421rem  +  16.9736842105vw , 9.3125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.25rem , -2.1447368421rem  +  16.9736842105vw , 9.3125rem )) or (column-gap: clamp( 1.25rem , -2.1447368421rem  +  16.9736842105vw , 9.3125rem ))) {
    .block-safe {
      -webkit-column-gap: calc(1.25rem + 8.0625 * (100vw - 20rem) / 47.5);
         -moz-column-gap: calc(1.25rem + 8.0625 * (100vw - 20rem) / 47.5);
              column-gap: calc(1.25rem + 8.0625 * (100vw - 20rem) / 47.5);
    }
}
}

@media (min-width: 47.99875em) and (max-width: 20em) {
  .block-safe {
    -webkit-column-gap: 1.25rem;
       -moz-column-gap: 1.25rem;
            column-gap: 1.25rem;
  }
}

@media (min-width: 47.9375em) and (max-width: 67.5em) {
@supports ((-moz-column-gap: clamp( 0.9375rem , -8.0986421725rem  +  18.8498402556vw , 4.625rem )) or (column-gap: clamp( 0.9375rem , -8.0986421725rem  +  18.8498402556vw , 4.625rem ))) {
    .content-experts {
      -webkit-column-gap: clamp( 0.9375rem , -8.0986421725rem  +  18.8498402556vw , 4.625rem );
         -moz-column-gap: clamp( 0.9375rem , -8.0986421725rem  +  18.8498402556vw , 4.625rem );
              column-gap: clamp( 0.9375rem , -8.0986421725rem  +  18.8498402556vw , 4.625rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -8.0986421725rem  +  18.8498402556vw , 4.625rem )) or (column-gap: clamp( 0.9375rem , -8.0986421725rem  +  18.8498402556vw , 4.625rem ))) {
    .content-experts {
      -webkit-column-gap: calc(0.9375rem + 3.6875 * (100vw - 47.9375rem) / 19.5625);
         -moz-column-gap: calc(0.9375rem + 3.6875 * (100vw - 47.9375rem) / 19.5625);
              column-gap: calc(0.9375rem + 3.6875 * (100vw - 47.9375rem) / 19.5625);
    }
}

@supports ((-moz-column-gap: clamp( 0.9375rem , -7.7923322684rem  +  18.2108626198vw , 4.5rem )) or (column-gap: clamp( 0.9375rem , -7.7923322684rem  +  18.2108626198vw , 4.5rem ))) {
    .healthcare__items {
      -webkit-column-gap: clamp( 0.9375rem , -7.7923322684rem  +  18.2108626198vw , 4.5rem );
         -moz-column-gap: clamp( 0.9375rem , -7.7923322684rem  +  18.2108626198vw , 4.5rem );
              column-gap: clamp( 0.9375rem , -7.7923322684rem  +  18.2108626198vw , 4.5rem );
    }
}

@supports not ((-moz-column-gap: clamp( 0.9375rem , -7.7923322684rem  +  18.2108626198vw , 4.5rem )) or (column-gap: clamp( 0.9375rem , -7.7923322684rem  +  18.2108626198vw , 4.5rem ))) {
    .healthcare__items {
      -webkit-column-gap: calc(0.9375rem + 3.5625 * (100vw - 47.9375rem) / 19.5625);
         -moz-column-gap: calc(0.9375rem + 3.5625 * (100vw - 47.9375rem) / 19.5625);
              column-gap: calc(0.9375rem + 3.5625 * (100vw - 47.9375rem) / 19.5625);
    }
}
}

@media (min-width: 20em) and (max-width: 62em) {
@supports (margin-bottom: clamp( 1.25rem , 0.119047619rem  +  5.6547619048vw , 3.625rem )) {
    .item-healthcare__image:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.119047619rem  +  5.6547619048vw , 3.625rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.119047619rem  +  5.6547619048vw , 3.625rem )) {
    .item-healthcare__image:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.375 * (100vw - 20rem) / 42);
    }
}
}

@media (any-hover: hover) {
  .button:hover {
    background-color: #4285f4;
  }

  .button_blue:hover {
    background-color: #3e78d6;
  }

  .menu__link:hover {
    color: #4285f4;
  }

  .footer-main__link:hover {
    color: #4285f4;
  }

  .media-content__link:hover::before {
    background-color: #ec5863;
  }

  .media-content__link:hover::after {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
  }

  .item-healthcare__link:hover {
    color: #4285f4;
  }
}